body {
  color: #333333;
  background-color: #ffffff;
  line-height: 150%;
  margin: 0;
  padding: 0;
}

a:hover {
  color: #ffffff;
  background-color: #0099ff;
}

h2 {
  border-bottom-color: #0099ff;
  border-bottom-style: solid;
  border-bottom-width: 2px;
}

#heder {
  color: #ffffff;
  background-color: #0099ff;
  background-image: url(../img/title.jpg);
  background-position: left top;
  background-repeat: no-repeat;
  text-align: right;
  margin: 0;
  padding: 0;
  height: 100px;
}

#heder p {
  display: none;
}

#heder ul {
  margin: 0;
  padding: 0;
  padding-top: 1em;
}

#heder ul li {
  margin: 0;
  padding: 0;
  padding-left: 1em;
  padding-right: 1em;
  border-left: 1px;
  border-left-style: solid;
  display: inline;
  list-style: none;
}

#heder li a {
  color: #ffffff;
  text-decoration: none;
}

#heder li a:hover {
  color: #0099ff;
  background-color: #ffffff;
}

#pan {
  color: #ffffff;
  background-color: #0066cc;
  margin: 0;
  padding: 0;
  padding-left: 1em;
}

#pan p {
  line-height: 200%;
  margin: 0;
  padding: 0;
}

#main {
  background-image: url(../img/back.jpg);
  background-position: right top;
  background-repeat: no-repeat;
  padding: 1em;
}

#footer {
  color: #ffffff;
  background-color: #0066cc;
  text-align: right;
  padding: 1em;
}
