/* グローバルナビゲーション部分のスタイル定義 */
nav ul {
    display: flex;
    justify-content: center;
    gap: 2em;
    list-style: none;
    padding: 0;
    margin: 1em 0;
}

/* 画像を2列で表示するためのスタイル定義 */
.img-row {
    display: flex;
    /* 横並び */
    justify-content: center;
    /* 中央寄せ */
}

.two-col {
    width: 50%;
}

.one-col {
    width: 100%;
}

/* 連絡先リンクのスタイル定義 */
.contact a {
    padding-left: 0.2em;
    padding-right: 0.5em;
}