/* グローバルナビゲーション部分のスタイル定義 */
nav ul {
    display: flex;
    justify-content: center;
    gap: 2em;
    list-style: none;
    padding: 0;
    margin: 1em 0;
}

/* 画像を2列で表示するためのスタイル定義 */
.two-col {
    width: 48%;
    /* 画像を半分弱に縮小 */
    display: inline-block;
    margin: 1%;
    /* 余白を少し */
    vertical-align: top;
}